/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;0,500;0,700;1,500&family=Roboto:wght@300&display=swap'); */

body {
    font-family: avenir, sans-serif;
}

.vl {
    border-left: 1px solid white;
    height: 30%;
}

.container-fluid {
    padding: 0;
}


/* ===== HERO ===== */

.hero {
    position: relative;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 5px;
    word-spacing: 5px;
    color: #17355f;
}

.hero h1 {
    font-size: 60px;
}

.hero-sub {
    background-color: white;
    font-size: 20px;
    padding: 3px 25px 3px 25px;
    border-radius: 5px;
    letter-spacing: 3px;
    word-spacing: normal;
    display: block;
    width: max-content;
    /* font-family: 'Montserrat', sans-serif; */
}

.hero img {
    margin: 0 auto;
    object-fit: cover;
    height: 85vh;
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 20%;
    left: 7%;
}

.btn-primary {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    background-color: #d1b28a;
    border-radius: 20px;
    border-color: #d1b28a;
}

.btn-primary:hover {
    background-color: #d1b28a;
    border-color: #d1b28a;
}

.btn-secondary {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding: 7px 15px 7px 15px;
    background-color: #77bdd7;
    border-radius: 20px;
    border-color: #77bdd7;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #77bdd7;
    border-color: #77bdd7;
    color: black;
}

/* ===== section 1 ===== */

.section-1 {
    font-family: avenir, sans-serif;
    text-align: center;
    color: #5C5F5F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 .row{
    margin: 0px 5% 0px 5%;
}

.section-1-description {
    max-width: 550px;
    margin: 80px 20px 20px 20px;
}

.img1 {
    text-align: left;
    position: relative;
}

.img1 .subtitle {
    color: white;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 3px;   
    max-width: 490px;
    position: absolute;
    top: 30%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
}

.img2 {
    text-align: left;
    position: relative;
}

.img2 .subtitle {
    color: white;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.img2 h1 {
    font-size: 30px;
}

.img2 .btn-secondary {
    background-color: white;
}

/* ===== Section 2 ===== */

.section-2{
    background-color: #17355f;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.section-2 .row{
    margin: 0px 5% 0px 5%;
}

/* ===== Section 3 ===== */

.section-3{
    background-color: white;
    padding-top: 100px;
}

.section-3 .img1{
    margin: 0px 5% 0px 5%;
}

/* ===== Section 4 ===== */

.section-4 {
    background-color: white;
    color: black;
}

.section-4 .row {
    margin: 0px 5% 0px 5%;
}